.contact tr{
  height: 7rem;
}
.contact th{
  width: 150px;
}
.contact td{
  width:480px;
}
.contact td input:not([type="radio"]){
  width: 100%;
}
.contact td textarea{
  width: 100%;
}
.wrapper_submit{
  width: 630px;
}
.wrapper_submit{
  text-align: center;
}
.wrapper_submit:hover{
  opacity: 0.5;
}
